* {
    box-sizing: border-box;
}

body {
    background-color: rgb(1, 11, 46);
}
.container {
    position: relative;
    margin: 400px auto;
    width: 600px;
    height: 600px;
    color: aliceblue;
    perspective: 1000px;
}
.cube {
    width: inherit;
    height: inherit;
    transform-style: preserve-3d;
    /* transform: rotate3d(1, 1, 1, 45deg); */
    /* transform: rotateY(45deg); */
    animation: cubemove linear 7s infinite;
}
@keyframes cubemove {
    0% {
        transform: rotateZ(45deg) rotateY(0deg);
    }
    /* 25% {
        transform: rotateY(90deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    75% {
        transform: rotateY(270deg);
    } */
    100% {
        transform: rotateZ(45deg) rotateY(360deg);
    }

}


.side {
    position: absolute;
    width: inherit;
    height: inherit;
    text-align: center;
    border: 10px solid #fff;
    font: normal 70px Arial;
    line-height: 500px;

}
.front {
    border-color: rgb(148, 0, 0);
    color: rgb(148, 1, 1);
    transform: translateZ(300px);
}
.back {
    border-color: rgb(0, 0, 148);
    color: rgb(0, 0, 148);
    transform: rotateY(180deg) translateZ(300px)
}
.right {
    border-color: rgb(0, 148, 7);
    color: rgb(0, 148, 7);
    transform: rotateY(90deg) translateZ(300px)
}
.left {
    border-color: rgb(221, 233, 55);
    color: rgb(221, 233, 55);
    transform: rotateY(-90deg) translateZ(300px)
}
.top {
    border-color: rgb(148, 0, 131);
    color: rgb(148, 0, 131);
    transform: rotateX(90deg) translateZ(300px)
}
.bottom {
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    transform: rotateX(-90deg) translateZ(300px)
}